<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<title>Saju.Bike</title>
		<link rel="canonical" href=".">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
		<style amp-custom>
			:root {
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
					Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
			}
			a {
				--tw-text-opacity: 1;
				color: rgba(29, 78, 216, var(--tw-text-opacity));
				text-decoration: none;
			}

			h1 {
				font-weight: 700;
				text-align: center;
				padding-top: 1rem;
				padding-bottom: 0.25rem;
				width: 100%;
			}


			h2 {
				font-weight: 600;
				padding-top: 1rem;
				padding-bottom: 0.25rem;
				width: 100%;
			}

			h3 {
				font-weight: 600;
				padding-top: 1rem;
				padding-bottom: 0.25rem;
				width: 100%;
			}

			.container {
				margin-right: auto;
				margin-left: auto;
				padding: 0.5rem;
			}

			@media (min-width: 640px) {
				.container {
					max-width: 640px;
				}
			}

			@media (min-width: 1024px) {
				.container {
					max-width: 1024px;
				}
			}

			@media (min-width: 1280px) {
				.container {
					max-width: 1280px;
				}
			}

			@media (min-width: 1536px) {
				.container {
					max-width: 1536px;
				}
			}

			@media (min-width: 1920px) {
				.container {
					max-width: 1920px;
				}
			}

			p {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}

			li {
				list-style-type: decimal;
			}

			.content {
				text-align: center;
				padding: 1em;
				margin: 0 auto;
			}

			.content > h1 {
				color: #ff3e00;
				font-size: 4rem;
				font-weight: 100;
				line-height: 1.1;
				margin: 4rem auto;
				max-width: 14rem;
			}

			.content > p {
				max-width: 14rem;
				margin: 2rem auto;
				line-height: 1.35;
			}

			@media (min-width: 480px) {
				.content > h1 {
					max-width: none;
				}

				.content > p {
					max-width: none;
				}
			}

			.brmmenulist > li {
				list-style-type: none;
				padding: 0.5rem;
			}

			nav {
				background-color: #F9FAFB;
				color: #F4F4F5;
				padding: 1rem;
				position: sticky;
				top: 0;
				z-index: 1;
			}

			nav > a {
				padding: 0.5rem;
			}
		</style>
	</head>
	<body>
		{% include "nav.njk" %}
		<div class="container">
			{{ content | safe }}
		</div>
		<amp-analytics type="googleanalytics">
			<script type="application/json">
			{
				"vars": {
					"account": "G-VMLH4DTCDE"
				},
				"triggers": {
					"default pageview": {
						"on": "visible",
						"request": "pageview"
					}
				}
			}
			</script>
		</amp-analytics>
	</body>
</html>
