---
layout: layout.njk
---
<div class="container">
    <ul class="brmmenulist">
        <li>
            <a href="/brm/checklist">BRM Checklist</a>
        </li>
        <li>
            <a href="/brm/tips">BRM Tips</a>
        </li>
        <li>
            <a href="/brm/videos">Videos</a>
        </li>
        <li>
            <a href="/brm/faq">FAQ</a>
        </li>
    </ul>
</div>
