---
layout: layout.njk
---
<div class="container">
    <ul>
        <li>
            <a href="/brm/checklist">BRM Checklist</a>
        </li>
        <li>
            <a href="/brm/tips">BRM Tips</a>
        </li>
    </ul>
</div>

<style>
    .container {
        max-width: 20rem;
        padding: 2rem;
    }

    li {
        list-style-type: none;
    }
</style>